@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
}
.cover{
  background-color: bisque;
  width: 500px;
  padding: 25px;
  margin: 25px auto 0;
  box-shadow: 0px 0px 20px;
}