@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.services-section{
  background-image: url(contt.webp);
  background-size: cover;
  height: 100vh;
  
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  padding: 0px 20px;
  margin: auto;
  overflow: hidden;
}
.title-section{
  text-align:center;
  color: aliceblue;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 250px;
  
 
  
}
.border{
  width: 160px;
  height: 2px;
  background: rgb(12, 177, 206);
  margin: 30px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.service-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}
.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #82ccdd;
  color: #82ccdd;
  margin-bottom: 30px;
  transform: rotate(45deg);
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 30px;
}
.service-box:hover .service-icon{
  background: #82ccdd;
  color: #ddd;
}
.service-title{
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.servics-desc{
  font-size: 20px;
}